<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title class="postTitle">Title</title>
    <link rel="stylesheet" href="/css/postUpdate.css">
</head>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<body>
<main>
    <h1 style="font-size: 40px; width: 100%; text-align: center;">공지사항을 작성해주세요</h1>
    <h1 style="font-size:40px">제목 <textarea class="postTitle" id="title-text" placeholder="제목을 입력해주세요." required></textarea></h1>
    <textarea id="postBody" placeholder="본문을 입력해주세요." required></textarea>
    <h3>사진 등록하기<button id="btn-image">+</button></h3>
    <input type="file" id="file-input" style="display: none;">
    <div id="container-img"></div>
    <button class="btn-square" id="btn-edit" style="margin-bottom: 100px">등록</button>
</main>
</body>
<script>

    let urlParams;

    $(document).ready(function () {

        $(document).click(function () {
            $('.select-items').addClass('select-hide');
            $('.select-selected .arrow').removeClass('arrow-up');
        });

        $.ajax({
            method: "POST",
            url: "/api/notice/save",
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                title : '임시',
                body : '임시'
            }),
            success: function (response) {
                urlParams = response.id;
            },
            error: function (error) {
                alert('등록에 실패했습니다.');
            }
        })

        $('#btn-image').click(function() {
            $('#file-input').click();
        });

        $('#file-input').change(function() {
            const file = this.files[0];
            if (file) {
                const imageList = new FormData();
                imageList.append('imageList', file);

                $.ajax({
                    type: 'POST',
                    url: '/api/images/upload?postId=' + urlParams,
                    data: imageList,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        let conImage = $('#container-img')
                        data.forEach(function (data) {
                            conImage.append(`
                        <div class="image" data-id="${data.id}" style="margin-left:10px;">
                            <img src="/api/images/display/${data.storeFilename}" alt="Image" width="240" height="160">
                            <button class="delete-btn btn-square-small" data-id="${data.id}">삭제</button>
                        </div>`);
                        })
                    },
                    error: function(error) {
                        console.error('파일 업로드 실패:', error);
                    }
                });
            }
        });

        $('#btn-edit').click(function () {

            const title = $('#title-text').val().trim();
            const body = $('#postBody').val().trim();

            if (title === "") {
                alert('제목을 입력해주세요.');
                return;  // 제목이 비어있으면 요청 중단
            }

            if (body === "") {
                alert('본문을 입력해주세요.');
                return;  // 본문이 비어있으면 요청 중단
            }

            const postDto = {
                title : $('#title-text').val(),
                body : $('#postBody').val()
            }
            $.ajax({
                method: "PUT",
                url:"/api/notice/update/" + urlParams,
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(postDto),
                success: function (response) {
                    alert('등록에 성공했습니다.');
                    location.href = "/api/posts/get?postId=" + response.id;
                },
                error: function (error) {
                    alert('등록에 실패했습니다.');
                }
            })
        })

        $('#container-img').on('click', '.delete-btn', function () {
            const imageId = $(this).data('id');
            deleteImage(imageId);
        });

        function deleteImage (imageId) {
            $.ajax({
                url: '/api/images/delete?imageId=' + imageId,
                method: 'DELETE',
                contentType: 'application/json',
                data: {},
                success: function (response) {
                    alert("이미지 삭제에 성공했습니다.");
                    $(`div[data-id="${imageId}"]`).remove();
                },
                error: function (error) {
                    alert('이미지 삭제에 실패했습니다.');
                }
            });
        }
    });
</script>
</html>