<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title class="postTitle">Title</title>
</head>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<body>
<main>
    <h1>내 게시물 수정하기</h1>
    <h2>제목 : <span class="postTitle"></span></h2>
    <textarea id="postBody" placeholder="본문을 입력해주세요."></textarea>
    <h3>사진 등록하기</h3>
    <div id="container-img"></div>
    <h3>해시태그를 하나 이상 입력해주세요</h3>
    <h3>카테고리를 선택해주세요</h3>
    <select id="category" name="category">
        <option value="KOREAN_FOOD">한식</option>
        <option value="JAPAN_FOOD">일식</option>
        <option value="WESTERN_FOOD">양식</option>
        <option value="CHINA_FOOD">중식</option>
        <option value="BRUNCH">브런치</option>
        <option value="DESSERT">디저트</option>
        <option value="ETC">ETC</option>
    </select>
    <h3>음식점의 위치를 알려주세요</h3>
    <select id="location" name="location">
        <option value="SEOUL">서울</option>
        <option value="GYEONGGI">경기</option>
        <option value="INCHEON">인천</option>
        <option value="GANGWON">강원</option>
        <option value="CHUNGBUK">충북</option>
        <option value="CHUNGNAM">충남</option>
        <option value="JEONBUK">전북</option>
        <option value="JEONNAM">전남</option>
        <option value="GYEONGBUK">경북</option>
        <option value="GYEONGNAM">경남</option>
        <option value="JEJU">제주</option>
    </select>
    <h3>별점으로 만족도를 알려주세요</h3>
</main>
</body>
<script>

    const urlParams = new URL(location.href).searchParams;

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/posts/" + urlParams.get('postId'),
            success: function (data) {
                $('#postBody').text(data.body);
                $('.postTitle').text(data.title);
                $('#location').val(data.location);
                $('#category').val(data.category);

                let splitHashtags = data.hashtags.split('/');
                for (let i = 0; i < splitHashtags.length; i++) {
                    hashtag.insertAdjacentHTML('beforeend',
                        '<li><button class="btn-hashtags"><span class="btn-text">' + splitHashtags[i] + '</span></button></li>');
                }
                hashtags = data.hashtags;
            },
            error: function (error) {
                alert('조회에 실패했습니다.');
            }

        });
    });
</script>
</html>