<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title class="postTitle">Title</title>
    <link rel="stylesheet" href="/css/postUpdate.css">
    <style>
        body {
            margin: 0;
        }
        a {
            text-decoration: none;
        }
        #backToHome {
            position: absolute;
            top: 30px;
            left: 55px;
            font-family: Manrope; /* Body */
            font-size: 32px;
            line-height: 22px;
            font-weight: 400;
            color: #005551FF;
            z-index: 10;
        } /* secondary-750 */
        #header {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            height: 130px;
        }
        #characterImg {
            position: absolute;
            top: 5px;
            right: 30px;
            width: 80px;
            height: 80px;
        }
    </style>

</head>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<body>
<main>
    <h1 style="font-size: 40px; width: 100%; text-align: center;">내 게시물 수정하기</h1>
    <h1 style="font-size:40px">제목 <textarea class="postTitle" id="title-text" placeholder="제목을 입력해주세요." required></textarea></h1>
    <textarea id="postBody" placeholder="본문을 입력해주세요." required></textarea>
    <h3>사진 등록하기<button id="btn-image">+</button></h3>
    <input type="file" id="file-input" style="display: none;">
    <div id="container-img"></div>
    <div id="sec-hashtag">
        <h3>해시태그를 하나 이상 입력해주세요</h3>
        <div id="container-hashtag-input">
            <input type="text" id="input-hashtag" placeholder="Input Text" style="margin-right:10px">
            <button id="save-btn" class="btn-square-small">입력</button>
        </div>
    </div>
    <div id="container-hashtag"></div>
    <section id="sec-selector">
        <div>
            <h3>카테고리를 선택해주세요</h3>
            <div id="category-select" class="custom-select">
                <div class="select-selected">
                    <span>카테고리를 선택해주세요</span>
                    <span class="arrow arrow-down"></span>
                </div>
                <div class="select-items select-hide">
                    <div data-value="한식">한식</div>
                    <div data-value="일식">일식</div>
                    <div data-value="양식">양식</div>
                    <div data-value="중식">중식</div>
                    <div data-value="브런치">브런치</div>
                    <div data-value="디저트">디저트</div>
                    <div data-value="ETC">ETC</div>
                </div>
            </div>
            <input type="hidden" id="category" name="category"/>
        </div>
        <div>
            <h3>음식점의 위치를 알려주세요</h3>
            <div id="location-select" class="custom-select">
                <div class="select-selected">
                    <span>위치를 선택해주세요</span>
                    <span class="arrow arrow-down"></span>
                </div>
                <div class="select-items select-hide">
                    <div data-value="서울">서울</div>
                    <div data-value="경기">경기</div>
                    <div data-value="인천">인천</div>
                    <div data-value="강원">강원</div>
                    <div data-value="충북">충북</div>
                    <div data-value="충남">충남</div>
                    <div data-value="전북">전북</div>
                    <div data-value="전남">전남</div>
                    <div data-value="경북">경북</div>
                    <div data-value="경남">경남</div>
                    <div data-value="제주">제주</div>
                </div>
            </div>
        </div>
        <input type="hidden" id="location" name="location"/>
        <div>
            <h3>별점으로 만족도를 알려주세요</h3>
            <div id="star-rating" class="custom-select">
                <div class="select-selected">
                    <span>별점을 선택해주세요</span>
                    <span class="arrow arrow-down"></span>
                </div>
                <div class="select-items select-hide">
                    <div data-value="5">
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                    </div>
                    <div data-value="4">
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                    </div>
                    <div data-value="3">
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                    </div>
                    <div data-value="2">
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                    </div>
                    <div data-value="1">
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="star" name="star"/>
    </section>

    <button class="btn-square" id="btn-edit" style="margin-bottom: 100px">수정</button>
</main>
</body>
<script>

    const urlParams = new URL(location.href).searchParams;
    let splitHashtags

    $(document).ready(function () {
        // 카테고리 선택 처리
        const $categorySelect = $('#category-select');
        const $categoryHiddenInput = $('#category');

        $categorySelect.find('.select-selected').click(function (e) {
            e.stopPropagation();
            $categorySelect.find('.select-items').toggleClass('select-hide');
            $(this).find('.arrow').toggleClass('arrow-up');
        });

        $categorySelect.find('.select-items').on('click', 'div', function (e) {
            e.stopPropagation();
            const selectedValue = $(this).data('value');
            $categoryHiddenInput.val(selectedValue);  // 선택된 값을 숨겨진 input에 저장
            $categorySelect.find('.select-selected').html($(this).html() + '<span class="arrow arrow-down"></span>');
            $categorySelect.find('.select-items').addClass('select-hide');
        });

        // 위치 선택 처리
        const $locationSelect = $('#location-select');
        const $locationHiddenInput = $('#location');

        $locationSelect.find('.select-selected').click(function (e) {
            e.stopPropagation();
            $locationSelect.find('.select-items').toggleClass('select-hide');
            $(this).find('.arrow').toggleClass('arrow-up');
        });

        $locationSelect.find('.select-items').on('click', 'div', function (e) {
            e.stopPropagation();
            const selectedValue = $(this).data('value');
            $locationHiddenInput.val(selectedValue);  // 선택된 값을 숨겨진 input에 저장
            $locationSelect.find('.select-selected').html($(this).html() + '<span class="arrow arrow-down"></span>');
            $locationSelect.find('.select-items').addClass('select-hide');
        });

        // 별점 선택 처리
        const $starSelect = $('#star-rating');
        const $starHiddenInput = $('#star');

        $starSelect.find('.select-selected').click(function (e) {
            e.stopPropagation();
            $starSelect.find('.select-items').toggleClass('select-hide');
            $(this).find('.arrow').toggleClass('arrow-up');
        });

        $starSelect.find('.select-items').on('click', 'div', function (e) {
            e.stopPropagation();
            const selectedValue = $(this).data('value');
            $starHiddenInput.val(selectedValue);  // 선택된 값을 숨겨진 input에 저장
            $starSelect.find('.select-selected').html($(this).html() + '<span class="arrow arrow-down"></span>');
            $starSelect.find('.select-items').addClass('select-hide');
        });

        $(document).click(function () {
            $('.select-items').addClass('select-hide');
            $('.select-selected .arrow').removeClass('arrow-up');
        });

        $.ajax({
            type: "GET",
            url: "/api/posts/" + urlParams.get('postId'),
            success: function (data) {
                $('#postBody').text(data.body);
                $('.postTitle').text(data.title);

                const starValue = data.star;
                const locationValue = data.location;
                const categoryValue = data.category;

                $('#star').val(starValue);
                $('#location').val(locationValue);
                $('#category').val(categoryValue);


                // 각각의 드롭다운 값을 설정하고 선택 이벤트 발생시킴
                selectDropdownValue('#star-rating', starValue);
                selectDropdownValue('#location-select', locationValue);
                selectDropdownValue('#category-select', categoryValue);

                splitHashtags = data.hashtags.split('/');
                for (let i = 0; i < splitHashtags.length; i++) {
                    $('#container-hashtag').append(`
                        <div class="hashtag" data-id="${i}" style="margin-left:10px;">
                            <button class="btn-hashtags"><span class="btn-text">${splitHashtags[i]}</span></button>
                            <button class="delete-btn hashtags-delete" data-id="${i}">X</button></h3>
                        </div>`);
                }
            },
            error: function (error) {
                alert('조회에 실패했습니다.');
            }
        });

        function selectDropdownValue(selector, value) {
            const $dropdown = $(selector);
            const $selectItems = $dropdown.find('.select-items');
            $selectItems.find(`div[data-value="${value}"]`).click();
        }

        $.ajax({
            method: "GET",
            url: "http://localhost:8080/api/images/get?postId=" + urlParams.get('postId'),
            success: function (data) {
                let conImage = $('#container-img')
                data.forEach(function (data) {
                    conImage.append(`
                        <div class="image" data-id="${data.id}" style="margin-left:10px;">
                            <img src="/api/images/display/${data.storeFilename}" alt="Image" width="240" height="160">
                            <button class="delete-btn btn-square-small" data-id="${data.id}">삭제</button>
                        </div>`);
                })
            }
        })

        $('#btn-image').click(function() {
            $('#file-input').click();
        });

        $('#file-input').change(function() {
            const file = this.files[0];
            if (file) {
                const imageList = new FormData();
                imageList.append('imageList', file);

                $.ajax({
                    type: 'POST',
                    url: '/api/images/upload?postId=' + urlParams.get('postId'),
                    data: imageList,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        window.location.href = 'http://localhost:8080/api/posts/updateForm?postId=' + urlParams.get('postId');
                    },
                    error: function(error) {
                        console.error('파일 업로드 실패:', error);
                    }
                });
            }
        });

        $('#btn-edit').click(function () {

            const title = $('#title-text').val().trim();
            const body = $('#postBody').val().trim();

            if (title === "") {
                alert('제목을 입력해주세요.');
                return;  // 제목이 비어있으면 요청 중단
            }

            if (body === "") {
                alert('본문을 입력해주세요.');
                return;  // 본문이 비어있으면 요청 중단
            }

            let mergedHashtags = '';
            splitHashtags.forEach(function (hashtags) {
                mergedHashtags += hashtags + "/";
            })

            if(mergedHashtags === "") {
                alert('해시태그는 하나 이상 있어야 합니다.');
                return;
            }

            const postDto = {
                title : $('#title-text').val(),
                body : $('#postBody').val(),
                star : parseInt($('#star').val()),
                location : $('#location').val(),
                category : $('#category').val(),
                hashtags : mergedHashtags.substring(0, mergedHashtags.length - 1)
            }
            console.log(postDto);
            $.ajax({
                method: "PUT",
                url:"http://localhost:8080/api/posts/update/" + urlParams.get('postId'),
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(postDto),
                success: function (response) {
                    alert('수정에 성공했습니다.');
                    location.href = "http://localhost:8080/api/posts/get?postId=" + urlParams.get('postId');
                },
                error: function (error) {
                    alert('수정에 실패했습니다.');
                    location.href = "http://localhost:8080/api/posts/updateForm?postId=" + urlParams.get('postId');
                }
            })
        })

        $('#container-img').on('click', '.delete-btn', function () {
            const imageId = $(this).data('id');
            deleteImage(imageId);
        });

        function deleteImage (imageId) {
            $.ajax({
                url: '/api/images/delete?imageId=' + imageId,
                method: 'DELETE',
                contentType: 'application/json',
                data: {},
                success: function (response) {
                    alert("이미지 삭제에 성공했습니다.");
                    $(`div[data-id="${imageId}"]`).remove();
                },
                error: function (error) {
                    alert('이미지 삭제에 실패했습니다.');
                }
            });
        }

        $('#container-hashtag').on('click', '.delete-btn', function () {
            const tagIdx = $(this).data('id');
            deleteTag(tagIdx);
        });

        function deleteTag (tagIdx) {
            splitHashtags.splice(tagIdx, 1);
            $(`div[data-id="${tagIdx}"]`).remove();
        }

        $('#save-btn').click(function () {
            let value = $('#input-hashtag').val();
            splitHashtags.push(value);
            let idx = splitHashtags.length - 1;

            $('#container-hashtag').append(`
                        <div class="hashtag" data-id="${idx}" style="margin-left:10px;">
                            <button class="btn-hashtags"><span class="btn-text">${splitHashtags[idx]}</span></button>
                            <button class="delete-btn hashtags-delete" data-id="${idx}">X</button></h3>
                        </div>`);
            $('#input-hashtag').val('');
        })
    });
</script>
</html>