<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title class="postTitle">Title</title>
    <link rel="stylesheet" href="/css/postUpdate.css">
</head>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<body>
<main>
    <h1 style="font-size: 40px; width: 100%; text-align: center;">내 게시물 수정하기</h1>
    <h1 style="font-size:40px">제목 <textarea class="postTitle" placeholder="제목을 입력해주세요."></textarea></h1>
    <textarea id="postBody" placeholder="본문을 입력해주세요."></textarea>
    <h3>사진 등록하기<button id="btn-image">+</button></h3>
    <input type="file" id="file-input" style="display: none;">
    <div id="container-img"></div>
    <div id="sec-hashtag">
        <h3>해시태그를 하나 이상 입력해주세요</h3>
        <div id="container-hashtag-input">
            <input type="text" id="input-hashtag" placeholder="Input Text" style="margin-right:10px">
            <button id="save-btn" class="btn-square-small">입력</button>
        </div>
    </div>
    <div id="container-hashtag"></div>
    <section id="sec-selector">
        <div>
            <h3>카테고리를 선택해주세요</h3>
            <div id="category-select" class="custom-select">
                <div class="select-selected">
                    <span>카테고리를 선택해주세요</span>
                    <span class="arrow arrow-down"></span>
                </div>
                <div class="select-items select-hide">
                    <div data-value="KOREAN_FOOD">한식</div>
                    <div data-value="JAPAN_FOOD">일식</div>
                    <div data-value="WESTERN_FOOD">양식</div>
                    <div data-value="CHINA_FOOD">중식</div>
                    <div data-value="BRUNCH">브런치</div>
                    <div data-value="DESSERT">디저트</div>
                    <div data-value="ETC">ETC</div>
                </div>
            </div>
            <input type="hidden" id="category" name="category"/>
        </div>
        <div>
            <h3>음식점의 위치를 알려주세요</h3>
            <div id="location-select" class="custom-select">
                <div class="select-selected">
                    <span>위치를 선택해주세요</span>
                    <span class="arrow arrow-down"></span>
                </div>
                <div class="select-items select-hide">
                    <div data-value="SEOUL">서울</div>
                    <div data-value="GYEONGGI">경기</div>
                    <div data-value="INCHEON">인천</div>
                    <div data-value="GANGWON">강원</div>
                    <div data-value="CHUNGBUK">충북</div>
                    <div data-value="CHUNGNAM">충남</div>
                    <div data-value="JEONBUK">전북</div>
                    <div data-value="JEONNAM">전남</div>
                    <div data-value="GYEONGBUK">경북</div>
                    <div data-value="GYEONGNAM">경남</div>
                    <div data-value="JEJU">제주</div>
                </div>
            </div>
        </div>
        <input type="hidden" id="location" name="location"/>
        <div>
            <h3>별점으로 만족도를 알려주세요</h3>
            <div id="star-rating" class="custom-select">
                <div class="select-selected">
                    <span>별점을 선택해주세요</span>
                    <span class="arrow arrow-down"></span>
                </div>
                <div class="select-items select-hide">
                    <div data-value="5">
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                    </div>
                    <div data-value="4">
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                    </div>
                    <div data-value="3">
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                    </div>
                    <div data-value="2">
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                    </div>
                    <div data-value="1">
                        <img src="/img/star.png" width="20" height="20" alt="별점 이미지"/>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="star" name="star"/>
    </section>

    <button class="btn-square" id="btn-edit" style="margin-bottom: 100px">수정</button>
</main>
</body>
<script>

    const urlParams = new URL(location.href).searchParams;
    let splitHashtags

    $(document).ready(function () {
        const $customSelects = $('.custom-select');

        $customSelects.each(function () {
            const $select = $(this);
            const $selectSelected = $select.find('.select-selected');
            const $selectItems = $select.find('.select-items');
            const $hiddenInput = $select.next('input[type="hidden"]');

            $selectSelected.click(function (e) {
                e.stopPropagation();
                $selectItems.toggleClass('select-hide');
                $(this).find('.arrow').toggleClass('arrow-up');
            });

            $selectItems.on('click', 'div', function (e) {
                e.stopPropagation();
                const selectedValue = $(this).data('value');
                $hiddenInput.val(selectedValue);
                $selectSelected.html($(this).html() + '<span class="arrow arrow-down"></span>');
                $selectItems.addClass('select-hide');
            });

            $(document).click(function () {
                $selectItems.addClass('select-hide');
                $selectSelected.find('.arrow').removeClass('arrow-up');
            });
        });

        $.ajax({
            type: "GET",
            url: "/api/posts/" + urlParams.get('postId'),
            success: function (data) {
                $('#postBody').text(data.body);
                $('.postTitle').text(data.title);

                const starValue = data.star;
                const locationValue = data.location;
                const categoryValue = data.category;

                $('#star').val(starValue);
                $('#location').val(locationValue);
                $('#category').val(categoryValue);

                const $starSelectItems = $('#star-rating .select-items');
                const $locationSelectItems = $('#location-select .select-items');
                const $categorySelectItems = $('#category-select .select-items');

                $starSelectItems.find(`div[data-value="${starValue}"]`).click();
                $locationSelectItems.find(`div[data-value="${locationValue}"]`).click();
                $categorySelectItems.find(`div[data-value="${categoryValue}"]`).click();

                splitHashtags = data.hashtags.split('/');
                for (let i = 0; i < splitHashtags.length; i++) {
                    $('#container-hashtag').append(`
                        <div class="hashtag" data-id="${i}" style="margin-left:10px;">
                            <button class="btn-hashtags"><span class="btn-text">${splitHashtags[i]}</span></button>
                            <button class="delete-btn hashtags-delete" data-id="${i}">X</button></h3>
                        </div>`);
                }
            },
            error: function (error) {
                alert('조회에 실패했습니다.');
            }
        });

        $.ajax({
            method: "GET",
            url: "http://localhost:8080/api/images/get?postId=" + urlParams.get('postId'),
            success: function (data) {
                let conImage = $('#container-img')
                data.forEach(function (data) {
                    conImage.append(`
                        <div class="image" data-id="${data.id}" style="margin-left:10px;">
                            <img src="/api/images/display/${data.storeFilename}" alt="Image" width="240" height="160">
                            <button class="delete-btn btn-square-small" data-id="${data.id}">삭제</button>
                        </div>`);
                })
            }
        })

        $('#btn-image').click(function() {
            $('#file-input').click();
        });

        $('#file-input').change(function() {
            const file = this.files[0];
            if (file) {
                const imageList = new FormData();
                imageList.append('imageList', file);

                $.ajax({
                    type: 'POST',
                    url: '/api/images/upload?postId=' + urlParams.get('postId'),
                    data: imageList,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        window.location.href = 'http://localhost:8080/api/posts/updateForm?postId=' + urlParams.get('postId');
                    },
                    error: function(error) {
                        console.error('파일 업로드 실패:', error);
                    }
                });
            }
        });

        $('#btn-edit').click(function () {
            let mergedHashtags = '';
            splitHashtags.forEach(function (hashtags) {
                mergedHashtags += hashtags + "/";
            })
            const postDto = {
                title : $('.postTitle').val(),
                body : $('#postBody').val(),
                star : $('#star').val(),
                location : $('#location').val(),
                category : $('#category').val(),
                hashtags : mergedHashtags.substring(0, mergedHashtags.length - 1)
            }
            $.ajax({
                method: "PUT",
                url:"http://localhost:8080/api/posts/update/" + urlParams.get('postId'),
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(postDto),
                success: function (response) {
                    alert('수정에 성공했습니다.');
                    location.href = "http://localhost:8080/api/posts/get?postId=" + urlParams.get('postId');
                },
                error: function (error) {
                    alert('수정에 실패했습니다.');
                    location.href = "http://localhost:8080/api/posts/updateForm?postId=" + urlParams.get('postId');
                }
            })
        })

        $('#container-img').on('click', '.delete-btn', function () {
            const imageId = $(this).data('id');
            deleteImage(imageId);
        });

        function deleteImage (imageId) {
            $.ajax({
                url: '/api/images/delete?imageId=' + imageId,
                method: 'DELETE',
                contentType: 'application/json',
                data: {},
                success: function (response) {
                    alert("이미지 삭제에 성공했습니다.");
                    $(`div[data-id="${imageId}"]`).remove();
                },
                error: function (error) {
                    alert('이미지 삭제에 실패했습니다.');
                }
            });
        }

        $('#container-hashtag').on('click', '.delete-btn', function () {
            const tagIdx = $(this).data('id');
            deleteTag(tagIdx);
        });

        function deleteTag (tagIdx) {
            splitHashtags.splice(tagIdx, 1);
            $(`div[data-id="${tagIdx}"]`).remove();
        }

        $('#save-btn').click(function () {
            let value = $('#input-hashtag').val();
            splitHashtags.push(value);
            let idx = splitHashtags.length - 1;

            $('#container-hashtag').append(`
                        <div class="hashtag" data-id="${idx}" style="margin-left:10px;">
                            <button class="btn-hashtags"><span class="btn-text">${splitHashtags[idx]}</span></button>
                            <button class="delete-btn hashtags-delete" data-id="${idx}">X</button></h3>
                        </div>`);
            $('#input-hashtag').val('');
        })
    });
</script>
</html>