<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" th:href="@{/css/createForm.css}">
</head>
<body>
<h1 class="main-title">당신의 게시글을 작성해보세요!</h1>
<form th:action="@{/posts}" method="post">
    <div>
        <label for="title" class="posts-title">제목</label>
        <input type="text" id="title" name="title" class="posts-title-input">
    </div>
    <div class="posts-content">
        <label for="content"></label>
        <textarea id="content" name="content" class="posts-content-input"></textarea>
    </div>
</form>

<label>사진 등록하기</label>
<button type="submit" class="image-add">+</button>
<button type="submit" class="image-delete">삭제</button>

<div>
    <p class="hashtags-title">해시태그를 입력해주세요</p>
    <input type="text" id="name" onchange="printName()"/>
    <div id="result"></div>
<!--    <button type="submit" class="hashtags-button">입력</button>-->
</div>

<script>
    function printName()  {
        const name = document.getElementById('name').value;
        document.getElementById("result").innerText = name;
    }
</script>

<section class="information">
<div class="category-box">
    <p class="category-title">카테고리를 선택하세요</p>
    <select class="category" onchange="">
        <option value="">CATEGORY</option>
        <option value="한식">한식</option>
        <option value="일식">일식</option>
        <option value="양식">양식</option>
        <option value="중식">중식</option>
        <option value="브런치">브런치</option>
        <option value="디저트">디저트</option>
        <option value="ETC">ETC</option>
    </select>
</div>

<div class="location-box">
    <p>음식점 위치를 알려주세요</p>
    <select class="location">
        <option value="">LOCATION</option>
        <option value="서울">서울</option>
        <option value="경기">경기</option>
        <option value="인천">인천</option>
        <option value="강원">강원</option>
        <option value="충북">충북</option>
        <option value="충남">충남</option>
        <option value="전북">전북</option>
        <option value="전남">전남</option>
        <option value="경북">경북</option>
        <option value="경남">경남</option>
        <option value="제주">제주</option>
    </select>
</div>

<div class="starpoint-box">
    <p>별점으로 만족도를 알려주세요</p>
    <div class="starpoint">
        <select class="star">
        <option value="">별점을 선택하세요</option>
        <option value="star1"><img src="static/img/star1.png"></option>
        <option value="star2"><img src="static/img/star2.png"></option>
        <option value="star3"><img src="static/img/star3.png"></option>
        <option value="star4"><img src="static/img/star4.png"></option>
        <option value="star5"><img src="static/img/star5.png"></option>
        </select>
    </div>
</div>
</section>

<button type="submit" class="posts-button">등록</button>
</body>
</html>