<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" type="text/css" th:href="@{/src/main/resources/static/css/Posts.css}">
</head>
<body>
<h1 class="main-title">당신의 게시글을 작성해보세요!</h1>
<form th:action="@{/posts}" method="post">
    <div class="title-box">
        <label for="title" class="posts-title">제목</label>
        <input type="text" id="title" name="title" class="posts-title-input" value="제목을 입력하세요.">
    </div>

    <div class="posts-content">
        <label for="content"></label>
        <textarea id="content" name="content" class="posts-content-input">내용을 입력하세요.</textarea>
    </div>
</form>

<div class="image-box">
    <p class="image-title">사진 등록하기</p>
    <button type="submit" class="image-add-button">+</button>

    <form class="inputImg" method="post" enctype="multipart/form-data"> <!-- 이미지 파일 데이터에 알맞는 enctype 설정 -->
        <div class="addImage" id="image-show"> <!-- 이미지 띄울 공간 -->
        </div>
        <input type="file" accept="imageList" onchange="loadFile(this)">
    </form>
    <button type="submit" class="image-delete-button">삭제</button>

</div>

<script>
    function loadFile(input) {
        let file = input.files[0]; // 선택파일 가져오기

        let newImage = document.createElement("img"); //새 이미지 태그 생성

        //이미지 source 가져오기
        newImage.src = URL.createObjectURL(file);
        newImage.style.width = "100%"; //div에 꽉차게 넣으려고
        newImage.style.height = "100%";
        newImage.style.objectFit = "cover"; // div에 넘치지 않고 들어가게

        //이미지를 image-show div에 추가
        let container = document.getElementById('image-show');
        container.appendChild(newImage);
    }
</script>

<section class="hashtags-box">
    <p class="hashtags-title">해시태그를 입력해주세요</p>
    <input value="input text" class="hashtags-input" type="text" id="name" onchange="printName()"/>

    <div id="result" class="result-text"></div>

    <button class="hashtags-button" type="submit" class="hashtags-button">입력</button>

    <button onclick='btnClick()' type="submit" class="result-text-delete-button" id="result-text-delete">x</button>
</section>

<script>
    function printName() {
        const name = document.getElementById('name').value;
        document.getElementById("result").innerText = name;
    }

    if(result.style.display === 'block') {

        resultasdf.style.display = 'none';
    }

</script>

<section class="information">
    <div class="category-box">
        <p class="category-title">카테고리를 선택하세요</p>
        <select class="category" onchange="">
            <option value="">CATEGORY</option>
            <option value="한식">한식</option>
            <option value="일식">일식</option>
            <option value="양식">양식</option>
            <option value="중식">중식</option>
            <option value="브런치">브런치</option>
            <option value="디저트">디저트</option>
            <option value="ETC">ETC</option>
        </select>
    </div>

    <div class="location-box">
        <p>음식점 위치를 알려주세요</p>
        <select class="location">
            <option value="">LOCATION</option>
            <option value="서울">서울</option>
            <option value="경기">경기</option>
            <option value="인천">인천</option>
            <option value="강원">강원</option>
            <option value="충북">충북</option>
            <option value="충남">충남</option>
            <option value="전북">전북</option>
            <option value="전남">전남</option>
            <option value="경북">경북</option>
            <option value="경남">경남</option>
            <option value="제주">제주</option>
        </select>
    </div>

    <div class="starPoint-box">
        <p>별점으로 만족도를 알려주세요</p>
        <div class="starPoint">
            <div class="starPoint">
                <select class="star">
                    <option value="">별점을 선택하세요</option>
                    <option value="star1"><img src="star1.png"></option>
                    <option value="star2"><img src="star2.png"></option>
                    <option value="star3"><img src="star3.png"></option>
                    <option value="star4"><img src="star4.png"></option>
                    <option value="star5"><img src="star5.png"></option>
                </select>
            </div>
        </div>
    </div>
</section>

<button type="submit" class="posts-button">등록</button>
</body>
</html>