<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 전체 보기</title>
</head>
<body>
<header></header>
<body></body>
<header></header>
<main>
    <h1>마음에 드는 게시물을 찾아보세요!</h1>
    <section>
        <img>
        <p></p>
        <span id="arrow"></span>
    </section>
    <div>
        <form th:action="@{/api/posts/search}" method="get">
            <label></label>

        </form>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</main>
<footer></footer>
</body>
</html>